@import url("https://fonts.googleapis.com/css2?family=Freehand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

.first-col {
  background: #3a4c40;
  height: 50%;
  text-align: center;
}

.nav-mobile {
  display: none;
  padding-bottom: 2em;
  height: 50%;
  background: #3a4c40;
}

.nav-up {
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-bottom: 2/5rem;
  display: flex;
  color: white;
  justify-content: space-around;
}

.nav-right {
  display: flex;
  align-items: center;
}

.nav-text {
  color: white;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  /* padding-bottom: 0.5rem; */
  border: none;
  border-radius: 0px;
  margin-left: 2rem;
  text-decoration: none;
  font-size: 1.3rem;
}

.nav-mobile span {
  margin: 1rem;
  font-size: 1.6rem;
}

.nav-section li {
  text-decoration: none;
  list-style-type: none;
}

.nav-section h1 {
  background: #3a4c40 !important;
  line-height: 10px !important;
}

.top {
  display: flex !important;
  flex-direction: row !important;
  justify-content: space-between;
  height: 3.5rem;
  color: white;
}

.left-side {
  width: 16%;
  height: fit-content;
  text-align: center;
  margin-top: 1.5rem;
  margin-left: 0px;
  font-size: 1.3rem;
  cursor: pointer;
}

.right-side {
  font-size: 1.2rem;
  margin: 2rem;
}

.list-item-wrap:hover{
  background: #3a4c40;

}

.nav-side-item  {
  text-decoration: none;
  color: #3a4c40;
  font-size: 1.1rem;
}

.nav-side-item a:hover{
  color: white !important;
}

.top-up-wrap{
  padding-top: 23px !important;
  background: #3a4c40;
  color: white;
}

.btn-sidenav{
  background: none;
  font-size: 1rem;
  color: white;
  width: 0px;
  height: 0px;
}

@media screen and (max-width: 662px) {
  .vis {
    display: none;
  }
}

@media screen and (max-width: 720px) {
  .nav-up {
    padding-top: 0px;
    padding-bottom: 0px;
    display: none;
  }

  .nav-text {
    font-size: 0.8rem;
    padding-right: 0px;
  }

  .nav-right {
    margin-right: 61px;
  }

  .nav-mobile {
    display: block;
  }

  .title-col {
    margin: 20px auto;
  }

  .title-col p {
    font-size: 1.2rem;
    width: 65%;
  }
}

@media screen and (max-height: 717px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

/* @media screen and (max-width: 414px){
    .nav-up {
        padding-top: 0px;
        padding-bottom: 0px;
        display: none
    };

    .nav-text{
        font-size: 0.8rem;
        padding-right: 0px;
    }

    .vis{
        display: none;
    }

    .nav-right{
        /* align-items: none; */
/* margin-right: 61px; */
/* } */

/* } */
