.footer {
    padding: 0 0 10px 0; 
    /* position: relative; */
    text-align: center;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, #008E9B 5%, #008F7A 95%); 
  }

  .footer p{
    padding-top: 2%;
  }
 