html{
    scroll-behavior: smooth;
}

button {
cursor: pointer;
font-size: 1rem;
border: solid .25em transparent;
/* border-radius: 8em; */
align-items: center;
text-transform: uppercase;
width: 270px;
height: 50px;
align-items: center;
justify-content: cen;
margin-top: 10px;
color: white;
font-weight: bold;
background: linear-gradient(90deg, #0089BA, 0%, #008E9B 10%, #008F7A 80%); 
}