
html,body
{
    scroll-behavior: smooth;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

button {
cursor: pointer;
font-size: 1rem;
border: solid .25em transparent;
/* border-radius: 8em; */
align-items: center;
text-transform: uppercase;
width: 270px;
height: 50px;
align-items: center;
justify-content: cen;
margin-top: 10px;
color: white;
font-weight: bold;
background: linear-gradient(90deg, #0089BA, 0%, #008E9B 10%, #008F7A 80%); 
}

@media screen and (max-width: 872px){
   button{
    width: 211px;
   }
      
    }

    /* @media screen and (max-width: 414px){
        button{
         width: 172px;
         font-size: 11pt;
        }
           
         } */